body {
  background-color: #35363a;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

input {
  width: 80%;
  max-width: 600px;
  height: 30px;
  background-color: white;
  border-radius: 10px;
}

.suggestion-container {
  height: 50vh;
  width: 80%;
  max-width: 600px;
  background-color: white;
}

.suggestion {
  padding: 6px;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}
